merge=tmerge;
xindex_select_method=resolution;
instance {top_tb.dut} {xpropOn};
//instance {fifo_tb.dut} {xpropOn};

// both items below lives in res_station_tb.sv
// instance {res_station_tb.dut} {xpropOn};
// instance {res_station_tb.ALU} {xpropOn};
// instance {issue_execute_tb.dut} {xpropOn};
module {DW_mult_seq} {xpropOff};
module {DW_div_seq} {xpropOff};
